@page "/"

@using BigClubDebate.Data
@using BigClubDebate.Data.Model
@using BigClubDebate.Data.Model.DataSources
@using BigClubDebate.Data.Model.DataTypes
@using BigClubDebate.Web.Pages.Components
@using BigClubDebate.Web.Data

@inject LeagueGames LeagueData
@inject WittyTagLineGenerator TagGenerator
@inject CupGames CupData
@inject IJSRuntime JsRuntime

@if (team1 == null || team2== null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="masthead fw-block" style="margin-top: 82px;">
        <div class="container">
            <p>a statistics website to determine, once and for all who is the bigger club</p>
            <br />
            <h1>
                <select id="team1Select" @bind="Team1Name">
                    @foreach (var team in teams.ToList())
                        {
                    <option value="@team.MainName" disabled="@(Team2Name == team.MainName)">@team.NickName</option>
                        }
                </select>
                <span>VS</span>
                <select id="team2Select" @bind="Team2Name">
                    @foreach (var team in teams.ToList())
                        {
                    <option value="@team.MainName" disabled="@(Team1Name == team.MainName)">@team.NickName</option>
                        }
                </select>
            </h1>
            <img class="main-img team1" src="images/badges/@team1.ImageName" alt="picture of shield" />
            <img class="main-img team2" src="images/badges/@team2.ImageName" alt="picture of shield" />
            <p class="tagline">@tagLine</p>
        </div>
    </section>

    <HeadToHeadSection Team1Name="team1" Team2Name="team2" />
    <LeagueSection Team1Name="team1" Team2Name="team2" />
    <LeagueCupSection Team1Name="team1" Team2Name="team2" />
    <FaCupSection Team1Name="team1" Team2Name="team2" />
}


@code {

    string t1, t2;
    public TeamName team1 { get; set; }
    public TeamName team2 { get; set; }

    public string Team1Name
    {
        get => t1 ?? teams.SheffUtd.MainName;
        set
        {
            t1 = value;
            team1 = teams.SingleOrDefault(x => x.MainName == Team1Name);
            if (t2 != null)
            {
                LoadData();
            }
        }
    }

    public string Team2Name
    {
        get => t2 ?? teams.SheffWeds.MainName;
        set
        {
            if (t2 != value)
            {
                t2 = value;
                team2 = teams.SingleOrDefault(x => x.MainName == Team2Name);
                LoadData();
            }
        }
    }

    string tagLine => TagGenerator.ForTeams(team1, team2);

    private readonly Teams teams = new Teams();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Team1Name = (team1 = teams.SheffUtd).MainName;
            Team2Name = (team2 = teams.SheffWeds).MainName;
            StateHasChanged();
        }
    }

    async Task LoadData()
    {
        await JsRuntime.InvokeVoidAsync("setbackground", team1.BackGroundName);
        StateHasChanged();
    }
}

